<?xml version="1.0" 

encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="act">
	<select id="selectActRun" resultType="com.me.rentalme.model.entity.ActVo">
		SELECT  A.GDS_CD,
				A.GDS_CD_DETAIL,
			    FN_NM('GDS_NM',B.GDS_CD) AS gdsnm,
			    A.GDS_ST_PRICE,
			    A.ACT_ST_TIME,
			    A.ACT_ED_TIME,
			    A.CONTENT,
			    B.BRAND_NM,
			    A.IMG1
		FROM 	TB_GDS300 A, TB_GDS100 B
		WHERE	B.GDS_CD = A.GDS_CD_DETAIL
		AND 	ACT_STS_CD='2';
	</select>
	
	<select id="selectActEnd" resultType="com.me.rentalme.model.entity.ActVo">
		SELECT  A.GDS_CD,
				A.GDS_CD_DETAIL,
			    FN_NM('GDS_NM',TB_GDS100.GDS_CD) AS gdsnm,
			    A.GDS_ST_PRICE,
			    A.ACT_ST_TIME,
			    A.ACT_ED_TIME,
			    A.CONTENT,
			    TB_GDS100.BRAND_NM,
			    A.IMG1
		FROM 	TB_GDS300 A
		INNER JOIN TB_GDS100
		ON 		TB_GDS100.GDS_CD = A.GDS_CD_DETAIL
		WHERE 	ACT_STS_CD='3';
	
	</select>
	
	<select id="selectActDetail" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT   A.GDS_CD
				,A.GDS_NM
				,A.BRAND_NM 
				,B.GDS_PRICE
				,B.AGREE_TERM
				,B.DELIVER_COST
				,B.INSTAL_COST
				,B.AS_CONDITION
				,A.MODEL_NM
				,B.IMG1
				,B.IMG2
				,B.IMG3
				,B.IMG4
				,C.GDS_CD_DETAIL
				,C.GDS_ST_PRICE
				,C.UNIT_PRICE
				,C.ACT_ST_TIME
				,C.ACT_ED_TIME
		FROM 	TB_GDS100 A	
				,TB_GDS200 B		
				,TB_GDS300 C
		WHERE A.GDS_CD = B.GDS_CD
		AND   A.GDS_CD = C.GDS_CD_DETAIL
		AND   B.GDS_CD = C.GDS_CD_DETAIL
		AND   C.GDS_CD_DETAIL=#{gdsCdDetail}
	</select>	
	<select id="selectActDetail2" resultType="com.me.rentalme.model.entity.ActVo">
		SELECT   A.GDS_CD
				,A.GDS_NM
				,A.BRAND_NM 
				,B.GDS_PRICE
				,B.AGREE_TERM
				,B.DELIVER_COST
				,B.INSTAL_COST
				,B.AS_CONDITION
				,A.MODEL_NM
				,B.IMG1
				,B.IMG2
				,B.IMG3
				,B.IMG4
				,C.GDS_CD_DETAIL
				,C.GDS_ST_PRICE
				,C.UNIT_PRICE
				,C.ACT_ST_TIME
				,C.ACT_ED_TIME
		FROM 	TB_GDS100 A	
				,TB_GDS200 B		
				,TB_GDS300 C
		WHERE A.GDS_CD = B.GDS_CD
		AND   A.GDS_CD = C.GDS_CD_DETAIL
		AND   B.GDS_CD = C.GDS_CD_DETAIL
		AND   C.GDS_CD_DETAIL=#{gdsCdDetail}
	</select>
	
	<insert id="insertActResult" parameterType="com.me.rentalme.model.entity.ActResultVo">	
		INSERT INTO tb_act100 (GDS_CD,ACT_SEQ,MB_NO,BID_PRICE,BID_TIME,ACT_BID_STS_CD)
		SELECT #{gdsCd} 
			,(SELECT
				  LPAD(COALESCE(A.CNT,'0'),5,'0') AS ACT_SEQ
				FROM
				(
					SELECT 
						COUNT(*)+1 AS CNT
					FROM TB_ACT100 A
					WHERE A.GDS_CD = #{gdsCd}
				) A
			) AS ACT_SEQ
			,MB_NO
			,#{bidPrice}
			,#{bidTime}
			,'2'
		FROM tb_user100
		where USER_ID=#{userId};
	</insert>
	
	<update id="updateActEnd">
		update tb_gds300
		set ACT_STS_CD='3'
		where GDS_CD=#{gdsCd}
	</update>
	
	<!-- 보증금 검사 -->
	<select id="selectMyMb" resultType="Integer">
		SELECT REMN_DEPOSIT
		FROM tb_mb100
		WHERE MB_NO=#{mbNo}
	</select>
	
	<update id="updateBidWin">
		UPDATE tb_act100 
		SET ACT_BID_STS_CD='1' 
		WHERE GDS_CD=#{gdsCd} AND ACT_BID_STS_CD='2' 
		ORDER BY BID_PRICE DESC, BID_TIME ASC 
		limit 1
	</update>
	
	<select id="SelectMngActSpec" resultType="com.me.rentalme.model.entity.ActResultVo">
		SELECT GDS_CD,ACT_SEQ,MB_NO,BID_PRICE,BID_TIME,ACT_BID_STS_CD
		FROM tb_act100
	</select>
	
	<update id="updateMngBidCancel">
		UPDATE tb_act100
		SET ACT_BID_STS_CD='3'
		WHERE GDS_CD=#{gdsCd} AND ACT_BID_STS_CD='1'
	</update>
</mapper>