<?xml version="1.0" 

encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="act">
	<select id="selectActRun" resultType="com.me.rentalme.model.entity.ActVo">
		SELECT  TB_GDS300.GDS_CD,
			    FN_NM('GDS_NM',TB_GDS100.GDS_CD) AS gdsnm,
			    TB_GDS300.GDS_ST_PRICE,
			    TB_GDS300.ACT_ST_TIME,
			    TB_GDS300.ACT_ED_TIME,
			    TB_GDS300.CONTENT
		FROM 	TB_GDS300
		INNER JOIN TB_GDS100
		ON 		TB_GDS100.GDS_CD = TB_GDS300.GDS_CD
		WHERE 	ACT_STS_CD='2';
	</select>

</mapper>