<?xml version="1.0" 

encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="act">
	<select id="selectActRun" resultType="com.me.rentalme.model.entity.ActVo">
	<![CDATA[
		SELECT  A.GDS_CD,
				A.GDS_CD_DETAIL,
			    FN_NM('GDS_NM',B.GDS_CD) AS gdsnm,
			    A.GDS_ST_PRICE,
			    A.ACT_ST_TIME,
			    A.ACT_ED_TIME,
			    A.CONTENT,
			    B.BRAND_NM,
			    A.IMG1,
			    A.ACT_STS_CD
		FROM 	TB_GDS300 A, TB_GDS100 B
		WHERE	B.GDS_CD = A.GDS_CD_DETAIL
		AND 	A.ACT_STS_CD<'3'
		]]>
	</select>
	
	<select id="selectActEnd" resultType="com.me.rentalme.model.entity.ActVo">
		SELECT  A.GDS_CD,
				A.GDS_CD_DETAIL,
			    FN_NM('GDS_NM',TB_GDS100.GDS_CD) AS gdsnm,
			    A.GDS_ST_PRICE,
			    A.ACT_ST_TIME,
			    A.ACT_ED_TIME,
			    A.CONTENT,
			    TB_GDS100.BRAND_NM,
			    A.IMG1
		FROM 	TB_GDS300 A
		INNER JOIN TB_GDS100
		ON 		TB_GDS100.GDS_CD = A.GDS_CD_DETAIL
		WHERE 	ACT_STS_CD='3';
	
	</select>
	
	<select id="selectActDetail" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT   C.GDS_CD
				,A.GDS_NM
				,A.BRAND_NM 
				,B.GDS_PRICE
				,B.AGREE_TERM
				,B.DELIVER_COST
				,B.INSTAL_COST
				,B.AS_CONDITION
				,A.MODEL_NM
				,B.IMG1
				,B.IMG2
				,B.IMG3
				,B.IMG4
				,C.GDS_CD_DETAIL
				,C.GDS_ST_PRICE
				,C.UNIT_PRICE
				,C.ACT_ST_TIME
				,C.ACT_ED_TIME
		FROM 	TB_GDS100 A	
				,TB_GDS200 B		
				,TB_GDS300 C
		WHERE A.GDS_CD = B.GDS_CD
		AND   A.GDS_CD = C.GDS_CD_DETAIL
		AND   B.GDS_CD = C.GDS_CD_DETAIL
		AND   C.GDS_CD=#{gdsCd}
	</select>	
	<select id="selectActDetail2" resultType="com.me.rentalme.model.entity.ActVo">
		SELECT   C.GDS_CD
				,A.GDS_NM
				,A.BRAND_NM 
				,B.GDS_PRICE
				,B.AGREE_TERM
				,B.DELIVER_COST
				,B.INSTAL_COST
				,B.AS_CONDITION
				,A.MODEL_NM
				,B.IMG1
				,B.IMG2
				,B.IMG3
				,B.IMG4
				,C.GDS_CD_DETAIL
				,C.GDS_ST_PRICE
				,C.UNIT_PRICE
				,C.ACT_ST_TIME
				,C.ACT_ED_TIME
				,C.ACT_STS_CD
		FROM 	TB_GDS100 A	
				,TB_GDS200 B		
				,TB_GDS300 C
		WHERE A.GDS_CD = B.GDS_CD
		AND   A.GDS_CD = C.GDS_CD_DETAIL
		AND   B.GDS_CD = C.GDS_CD_DETAIL
		AND   C.GDS_CD=#{gdsCd}
	</select>
	
	<insert id="insertActResult" parameterType="com.me.rentalme.model.entity.ActResultVo">	
		INSERT INTO tb_act100 (GDS_CD,ACT_SEQ,MB_NO,BID_PRICE,BID_TIME,ACT_BID_STS_CD)
		SELECT #{gdsCd} 
			,(SELECT
				  LPAD(COALESCE(A.CNT,'0'),5,'0') AS ACT_SEQ
				FROM
				(
					SELECT 
						COUNT(*)+1 AS CNT
					FROM TB_ACT100 A
					WHERE A.GDS_CD = #{gdsCd}
				) A
			) AS ACT_SEQ
			,MB_NO
			,#{bidPrice}
			,#{bidTime}
			,'2'
		FROM tb_user100
		where USER_ID=#{userId};
	</insert>
	
	<update id="updateActEnd">
		update tb_gds300
		set ACT_STS_CD='3'
		where GDS_CD=#{gdsCd}
	</update>
	
	<!-- 보증금 검사 -->
	<select id="selectMyMb" resultType="Integer">
		SELECT REMN_DEPOSIT
		FROM tb_mb100
		WHERE MB_NO=#{mbNo}
	</select>
	
	<update id="updateBidWin">
		UPDATE tb_act100 
		SET ACT_BID_STS_CD='1' 
		WHERE GDS_CD=#{gdsCd} AND ACT_BID_STS_CD='2' 
		ORDER BY BID_PRICE DESC, BID_TIME ASC 
		limit 1
	</update>
	
	<!-- 관리자 경매내역 -->
	<select id="SelectMngActSpec" resultType="com.me.rentalme.model.entity.ActResultVo">
		SELECT
			AA.GDS_CD
			,AA.GDS_NM
			,AA.ACT_SEQ
			,AA.MB_NO
			,AA.USER_NM
			,AA.BID_PRICE
			,AA.BID_TIME
			,AA.GDS_ST_PRICE
			,AA.ACT_BID_STS_CD
			,BB.ODR_NO
			,BB.PAY_GB_CD
			,BB.ODR_STS_GB_CD
		FROM
			(
				SELECT 
					A.GDS_CD
					,CAST(REPLACE(SUBSTRING(A.GDS_CD,7,6),'0','') AS UNSIGNED) AS GDS_CD2
					,FN_NM('GDS_NM2', A.GDS_CD) AS GDS_NM
					,A.ACT_SEQ
					,A.MB_NO
					,FN_NM('USER_NM', A.MB_NO) AS USER_NM
					,A.BID_PRICE
					,A.BID_TIME
					,A.ACT_BID_STS_CD
					,B.GDS_ST_PRICE
				FROM TB_ACT100 A, tb_gds300 B
				WHERE A.ACT_BID_STS_CD = 1 AND A.GDS_CD = B.GDS_CD
			) AA LEFT OUTER JOIN (	
				SELECT
					B.GDS_CD
					,A.ODR_NO
					,A.PAY_GB_CD
					,A.ODR_STS_GB_CD
			   FROM TB_ODR100 A,
					  TB_ODR110 B
				WHERE A.ODR_NO = B.ODR_NO
				AND A.ODR_GB_CD = '30'	/* 경매상품 고정 */
			) BB
		ON AA.GDS_CD = BB.GDS_CD
		ORDER BY AA.GDS_CD2 DESC
	</select>
	
	<update id="updateMngBidCancel">
		UPDATE tb_act100
		SET ACT_BID_STS_CD='3'
		WHERE GDS_CD=#{gdsCd} AND ACT_BID_STS_CD='1'
	</update>
	
	<update id="updateMngActStsCd">
		UPDATE tb_gds300
		SET ACT_STS_CD='2'
		WHERE GDS_CD=#{gdsCd} AND ACT_STS_CD='1' 
	</update>
	
	<update id="updateUserActMoney">
		UPDATE TB_MB100
		SET REMN_DEPOSIT = REMN_DEPOSIT - #{gdsStPrice}
		WHERE MB_NO=#{mbNo}
	</update>
	
	<insert id="insertUserActMoney">
		INSERT INTO TB_MB110 (MB_NO,DEPOSIT_SEQ,DEPOSIT_DT,USE_DEPOSIT,DEPOSIT_GB_CD)
		VALUES (
		#{mbNo},
		(SELECT LPAD((SELECT COUNT(MB_NO)+1 FROM TB_MB110 A WHERE MB_NO=#{mbNo}),6,'0')),
		(SELECT DATE_FORMAT(NOW(),'%Y-%m-%d')),
		#{gdsStPrice},
		'2')
	</insert>
</mapper>