<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="csCenter">
  
  <!-- 게시글 리스트  -->
	<select id="faqSelectAll" resultType="com.me.rentalme.cs.entity.CsVo">
		SELECT * FROM TB_FAQ100 
		
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType=='title' and keyword != null and keyword != '' ">
				AND SUB like CONCAT('%', #{keyword}, '%')
			</if>
		</trim>
		
		ORDER BY FAQ_NO DESC
  		LIMIT #{startListNum}, #{listSize}
  	</select>
  	
  	<select id="csFaqHeadList" resultType="com.me.rentalme.cs.entity.CsVo">
  		SELECT FAQ_NO,Cs_Class_Gb_Cd,Sub FROM TB_FAQ100 WHERE CS_CLASS_GB_CD=#{tapName} ORDER BY FAQ_NO DESC
  		LIMIT #{startListNum},#{listSize}
  	</select>
  	
  	<select id="noticeSelectAll" resultType="com.me.rentalme.cs.entity.CsVo">
  		SELECT * FROM TB_NOTIC100 ORDER BY NOTIC_NO DESC
  		LIMIT #{startListNum},#{listSize}
  	</select>
  	
  	<select id="inqSelectAll" resultType="com.me.rentalme.cs.entity.CsVo">
  		SELECT * FROM TB_PQUEST100 ORDER BY PQUEST_NO DESC
  		LIMIT #{startListNum},#{listSize}
  	</select>
  	
  	<!--  검색 게시글 갯수-->
  	<select id="csFaqListCnt" resultType="int">
  		SELECT COUNT(FAQ_NO) AS CNT FROM TB_FAQ100
  		<trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="keyword != null and keyword != '' ">
			<if test="searchType=='title'">
				AND SUB like CONCAT('%', #{keyword}, '%')
			</if>
      </if>
	</trim>
	
  	</select>
  	<select id="csFaqTapListCnt" resultType="int">
  		SELECT COUNT(FAQ_NO) AS CNT FROM TB_FAQ100 WHERE CS_CLASS_GB_CD=#{csClassGbCd};
  	</select>
  	<select id="csNoticListCnt" resultType="int">
  		SELECT COUNT(NOTIC_NO) AS CNT FROM TB_NOTIC100;
  	</select>
  	<select id="csInquiryListCnt" resultType="int">
  		SELECT COUNT(PQUEST_NO) AS CNT FROM TB_PQUEST100;
  	</select>
  	<select id="myInquiryListCnt" resultType="int">
  		SELECT COUNT(TB_PQUEST100.PQUEST_NO) FROM TB_PQUEST100 INNER JOIN TB_USER100 ON TB_PQUEST100.MB_NO=TB_USER100.MB_NO WHERE TB_USER100.MB_NO=#{mbNo} ORDER BY PQUEST_NO DESC	
  	</select>
  	
  	
  	<select id="csFaqDetail" resultType="com.me.rentalme.cs.entity.CsVo">
  		SELECT * FROM TB_FAQ100 WHERE CS_GB_CD=#{csGbCd} AND FAQ_NO=#{faqNo}
  		
  	</select>
  	<select id="csNoticeDetail" resultType="com.me.rentalme.cs.entity.CsVo">
  		SELECT * FROM TB_NOTIC100 WHERE NOTIC_NO=#{noticNo}
  	</select>
  	<select id="myQuestList" resultType="com.me.rentalme.cs.entity.CsVo">
  		SELECT * FROM TB_PQUEST100 INNER JOIN TB_USER100 ON TB_PQUEST100.MB_NO=TB_USER100.MB_NO WHERE TB_USER100.MB_NO=#{mbNo} ORDER BY PQUEST_NO DESC
  		LIMIT #{startListNum},#{listSize}
  	</select>
  	<select id="myQuestDetail" resultType="com.me.rentalme.cs.entity.CsVo">
  		SELECT * FROM TB_PQUEST100 WHERE MB_NO=#{mbNo} and PQUEST_NO=#{pquestNo}
  	</select>
  	<insert id="csInsertNocOne" parameterType="com.me.rentalme.cs.entity.CsVo">
		INSERT INTO tb_notic100 (notic_no,sub,content,REG_DT) SELECT MAX(LPAD(SEQ,3,0)),#{sub},#{content},DATE_FORMAT(now(), '%Y%m%d') FROM seq_notic100;
  	</insert>
  	<insert id="csInsertFaqOne" parameterType="com.me.rentalme.cs.entity.CsVo">
		INSERT INTO tb_faq100 (faq_no,CS_CLASS_GB_CD,sub,content,REG_DT) SELECT MAX(LPAD(SEQ,3,0)),#{csClassGbCd},#{sub},#{content},DATE_FORMAT(now(), '%Y%m%d') FROM seq_faq100;
  	</insert>
  	<insert id="csInsertInqOne" parameterType="com.me.rentalme.cs.entity.CsVo">
  		INSERT INTO tb_pquest100 (PQUEST_NO,MB_NO,CS_CLASS_GB_CD,SUB,CONTENT,REG_DT) SELECT MAX(LPAD(SEQ,3,0)),#{mbNo},#{csClassGbCd},#{sub},#{content},DATE_FORMAT(now(), '%Y%m%d') FROM seq_pquest100;
  	</insert>
  	
  	<!--시퀀스 증가  -->
  	<insert id="seqNocInsert" parameterType="com.me.rentalme.cs.entity.CsVo">
		INSERT INTO SEQ_NOTIC100 VALUES(NULL)
	</insert>
	<insert id="seqFaqInsert" parameterType="com.me.rentalme.cs.entity.CsVo">
		INSERT INTO SEQ_FAQ100 VALUES(NULL)
	</insert>
	<insert id="seqInqInsert" parameterType="com.me.rentalme.cs.entity.CsVo">
		INSERT INTO SEQ_PQUEST100 VALUES(NULL)
	</insert>
	
	<delete id="csNoticeDelete" parameterType="com.me.rentalme.cs.entity.CsVo">
		DELETE FROM TB_NOTIC100 WHERE NOTIC_NO=#{NUM}
	</delete>
	<delete id="csFaqDelete" parameterType="com.me.rentalme.cs.entity.CsVo">
		DELETE FROM TB_FAQ100 WHERE FAQ_NO=#{NUM}
	</delete>
	<delete id="myQuestDel" parameterType="com.me.rentalme.cs.entity.CsVo">
		DELETE FROM TB_PQUEST100 WHERE PQUEST_NO=#{pquestNo} AND MB_NO=#{mbNo}
	</delete>
	
	<update id="inqAnswer" parameterType="com.me.rentalme.cs.entity.CsVo">
		UPDATE TB_PQUEST100 SET QUEST_STS_CD='2' WHERE PQUEST_NO=#{pquestNo}
	</update>
	<update id="csNoticeUpdate" parameterType="com.me.rentalme.cs.entity.CsVo">
		UPDATE TB_NOTIC100 SET SUB=#{sub}, CONTENT=#{content} WHERE NOTIC_NO=#{noticNo}
	</update>
	<update id="csFaqUpdate" parameterType="com.me.rentalme.cs.entity.CsVo">
		UPDATE TB_FAQ100 SET SUB=#{sub}, CONTENT=#{content} WHERE FAQ_NO=#{faqNo}
	</update>
	
	
	<select id="userLevel" resultType="com.me.rentalme.model.entity.UserVo">
		SELECT LEVEL_GB_CD FROM TB_USER100 WHERE MB_NO=#{userLevel}
	</select>
  </mapper>
  
  
  
  
  
  