<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="csCenter">
	<select id="faqSelectAll" resultType="com.me.rentalme.cs.entity.CsVo">
		SELECT * FROM TB_FAQ100 ORDER BY FAQ_NO DESC
  	</select>
  	<select id="csFaqDetail" resultType="com.me.rentalme.cs.entity.CsVo">
  		SELECT * FROM TB_FAQ100 WHERE CS_GB_CD=#{csGbCd} AND FAQ_NO=#{faqNo} AND CS_CLASS_GB_CD=#{csClassGbCd} 
  	</select>
  	<select id="noticeSelectAll" resultType="com.me.rentalme.cs.entity.CsVo">
  		SELECT * FROM TB_NOTIC100 ORDER BY NOTIC_NO DESC
  	</select>
  	<select id="csNoticeDetail" resultType="com.me.rentalme.cs.entity.CsVo">
  		SELECT * FROM TB_NOTIC100 WHERE NOTIC_NO=#{noticNo} AND CS_GB_CD=#{csGbCd} 
  	</select>
  	<insert id="csInsertNocOne" parameterType="com.me.rentalme.cs.entity.CsVo">
		INSERT INTO tb_notic100 (notic_no,sub,content,REG_DT) SELECT MAX(LPAD(SEQ,3,0)),#{sub},#{content},DATE_FORMAT(now(), '%Y%m%d') FROM seq_notic100;
  	</insert>
  	<insert id="csInsertFaqOne" parameterType="com.me.rentalme.cs.entity.CsVo">
		INSERT INTO tb_faq100 (faq_no,CS_CLASS_GB_CD,sub,content,REG_DT) SELECT MAX(LPAD(SEQ,3,0)),#{csClassGbCd},#{sub},#{content},DATE_FORMAT(now(), '%Y%m%d') FROM seq_faq100;
  	</insert>
  	<insert id="seqNocInsert" parameterType="com.me.rentalme.cs.entity.CsVo">
		INSERT INTO SEQ_NOTIC100 VALUES(NULL)
	</insert>
	<insert id="seqFaqInsert" parameterType="com.me.rentalme.cs.entity.CsVo">
		INSERT INTO SEQ_FAQ100 VALUES(NULL)
	</insert>
	<delete id="csNoticeDelete" parameterType="com.me.rentalme.cs.entity.CsVo">
		DELETE FROM TB_NOTIC100 WHERE NOTIC_NO=#{NUM}
	</delete>
	<update id="csNoticeUpdate" parameterType="com.me.rentalme.cs.entity.CsVo">
		UPDATE TB_NOTIC100 SET SUB=#{sub}, CONTENT=#{content} WHERE NOTIC_NO=#{noticNo}
	</update>
  </mapper>
  
  
  
  
  
  
  