<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="join">
	<insert id="insertOne" parameterType="com.me.rentalme.model.entity.UserVo">
		 INSERT 
		   INTO TB_USER100(USER_ID,PW,PW_ADJ_DT,HP,EMAIL,email_key,BIRTHDAY,GENDER_GB_CD,JOIN_DT,LEVEL_GB_CD,mb_no) 
		 VALUES(#{userId},#{userPw},DATE_FORMAT(NOW(),'%Y%m%d'),#{hp},#{email},#{emailKey},#{birthDay},#{genderGbCd},DATE_FORMAT(NOW(),'%Y%m%d'),#{levelGbCd}, #{mbNo})
	</insert>
	<insert id="insertMemNoSeq">
		INSERT
		  INTO SEQ_MB100
		VALUES(NULL)
	</insert> 
	<update id="updateKeyOne">
		UPDATE TB_USER100 
		   SET EMAIL_KEY=#{emailKey}
		 WHERE USER_ID=#{userId}
	</update>
	<update id="updateKeyYn">
		UPDATE TB_USER100
		   SET EMAIL_KEY = 'Y'
		     , CHG_ID = 'system'
		     , CHG_DT = now()
		 WHERE USER_ID=#{userId} AND EMAIL_KEY=#{emailKey}
	</update>
	<select id="checkId" parameterType="String" resultType="int">
		SELECT COUNT(USER_ID) AS CNT
		  FROM TB_USER100
		 WHERE USER_ID=#{userId}
	</select>
	<select id="getMemNo" resultType="String">
		SELECT MAX(CONCAT(RIGHT(DATE_FORMAT(NOW(),'%Y'),2), LPAD(SEQ,6,0))) AS mbNo
		  FROM SEQ_MB100
	</select>
</mapper>