<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="loginFind">
	<select id="checkId" parameterType="String"  resultType="int">
		SELECT COUNT(email) AS CNT
		  FROM TB_USER100
		 WHERE email=#{email}
	</select>
	<select id="getId" parameterType="String" resultType="com.me.rentalme.model.entity.UserVo">
		SELECT USER_ID AS userId
		     , JOIN_DT AS joinDt
		  FROM TB_USER100
		 WHERE EMAIL=#{email}
	</select>
</mapper>