<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mpMng">
	<!-- 주문 -->
	<select id="selectOrd" resultType="com.me.rentalme.model.entity.MngOrdVo">
		SELECT *
		FROM tb_odr100
	</select>
	<select id="selectOrdOne" resultType="com.me.rentalme.model.entity.MngOrdDetailVo">
		SELECT FN_NM('GDS_NM', GDS_CD) as GDS_NM,GDS_PRICE,ODR_QTY,ODR_AMT
		from tb_odr110
		where ODR_NO=#{odrNo}
	</select>
	<select id="selectOrdOneInfo" resultType="com.me.rentalme.model.entity.UserVo">
		SELECT B.USER_NM,B.ADDR,B.ADDR_DETAIL,B.HP
		FROM tb_odr100 AS A,tb_user100 AS B
		WHERE A.MB_NO=B.MB_NO AND A.ODR_NO=#{odrNo}
	</select>
	<update id="updateStsPC">
		UPDATE tb_odr100
		SET ODR_STS_GB_CD='PC'
		WHERE ODR_NO=#{odrNo}
	</update>
	
	<!-- 예치금 -->
	<select id="selectDep" resultType="com.me.rentalme.model.entity.CallVo">
		SELECT A.USER_NM,B.MB_NO,B.REMN_DEPOSIT,B.CHG_DT
		FROM tb_user100 as A,tb_mb100 as B
		WHERE A.MB_NO=B.MB_NO
		ORDER BY B.CHG_DT DESC
	</select>
	<select id="selectDepOne" resultType="com.me.rentalme.model.entity.CallVo">
		SELECT DEPOSIT_SEQ,CHARGE_DEPOSIT,USE_DEPOSIT,REFUND_DEPOSIT,CHG_DT
		FROM tb_mb110
		WHERE MB_NO=#{mbNo}
		ORDER by CHG_DT DESC
	</select>
	
	<!-- 중고 -->
	<select id="selectUsed" resultType="com.me.rentalme.model.entity.UsedVo">
		SELECT A.*,B.USER_NM
		FROM tb_used100 AS A, tb_user100 AS B
		WHERE A.MB_NO=B.MB_NO
		ORDER BY A.CHG_DT DESC
		LIMIT #{startListNum}, #{listSize}
	</select>
	<select id="selectUsedSearch" resultType="com.me.rentalme.model.entity.UsedVo">
		SELECT A.*,B.USER_NM
		FROM tb_used100 AS A, tb_user100 AS B
		WHERE A.MB_NO=B.MB_NO AND USED_GDS_NO=#{usedGdsNo}
		ORDER BY A.CHG_DT DESC
	</select>
	<select id="selectusedListCnt" resultType="Integer">
		SELECT COUNT(*) as totalListCnt
		  FROM TB_USED100
	</select>
	
	<!-- 환불 -->
	<select id="selectReturn" resultType="com.me.rentalme.model.entity.MngOrdVo">
		SELECT *
		FROM tb_odr100
		WHERE ODR_STS_GB_CD='RC' OR ODR_STS_GB_CD='RW'
	</select>
	<update id="updateStsRtn">
		UPDATE tb_odr100
		SET ODR_STS_GB_CD='RC'
		WHERE ODR_NO=#{odrNo}
	</update>
	
	<!-- 신고 -->
	<select id="selectDecl" resultType="com.me.rentalme.model.entity.DeclVo">
		SELECT *
		FROM tb_decl100
		ORDER BY CHG_DT DESC
		LIMIT #{startListNum}, #{listSize}
	</select>
	<update id="changeDeclSts">
		UPDATE tb_decl100
		SET DECL_RES_STS_CD='1', CHG_ID='admin'
		WHERE DECL_NO=#{declNo}
	</update>
	
	<!--민수 -->
	
	<!--렌탈상품리스트 -->
	<select id="selectRentalList" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT * FROM TB_GDS100 ORDER BY REG_DT DESC
		LIMIT #{startListNum},#{listSize}
	</select>
	<!--대형 상품리스트 -->
	<select id="selectLgoodsList" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT * FROM TB_GDS100 WHERE GDS_MCLASS_CD='10' ORDER BY REG_DT 
		LIMIT #{startListNum},#{listSize}
	</select>
	<!--소형 상품리스트 -->
	<select id="sGoodsList" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT * FROM TB_GDS100 WHERE GDS_MCLASS_CD='20' ORDER BY REG_DT 
		LIMIT #{startListNum},#{listSize}
	</select>
	<!--주방 상품리스트 -->
	<select id="kGoodsList" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT * FROM TB_GDS100 WHERE GDS_MCLASS_CD='30' ORDER BY REG_DT 
		LIMIT #{startListNum},#{listSize}
	</select>
	<!--가구 상품리스트 -->
	<select id="fGoodsList" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT * FROM TB_GDS100 WHERE GDS_MCLASS_CD='40' ORDER BY REG_DT 
		LIMIT #{startListNum},#{listSize}
	</select>
	<!--기타 상품리스트 -->
	<select id="otherGoodsList" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT * FROM TB_GDS100 WHERE GDS_MCLASS_CD='50' ORDER BY REG_DT 
		LIMIT #{startListNum},#{listSize}
	</select>
	<!--패키지 상품리스트 -->
	<select id="pacGoodsList" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT * FROM TB_GDS100 WHERE GDS_MCLASS_CD='60' ORDER BY REG_DT 
		LIMIT #{startListNum},#{listSize}
	</select>
	
	<!--전체 상품리스트 갯수  -->
	<select id="goodsListCnt" resultType="int">
  		SELECT COUNT(GDS_CD) AS CNT FROM TB_GDS100;
  	</select>
	<!-- 대형가전 상품리스트 갯수 -->
	<select id="lGoodsListCnt" resultType="int">
  		SELECT COUNT(GDS_CD) AS CNT FROM TB_GDS100 where GDS_MCLASS_CD='10';
  	</select>
	<!-- 소형가전 상품리스트 갯수 -->
	<select id="sGoodsListCnt" resultType="int">
  		SELECT COUNT(GDS_CD) AS CNT FROM TB_GDS100 where GDS_MCLASS_CD='20';
  	</select>
	<!-- 주방가전 상품리스트 갯수 -->
	<select id="kGoodsListCnt" resultType="int">
  		SELECT COUNT(GDS_CD) AS CNT FROM TB_GDS100 where GDS_MCLASS_CD='30';
  	</select>
	<!-- 가구가전 상품리스트 갯수 -->
	<select id="fGoodsListCnt" resultType="int">
  		SELECT COUNT(GDS_CD) AS CNT FROM TB_GDS100 where GDS_MCLASS_CD='40';
  	</select>
	<!-- 기타가전 상품리스트 갯수 -->
	<select id="otherGoodsListCnt" resultType="int">
  		SELECT COUNT(GDS_CD) AS CNT FROM TB_GDS100 where GDS_MCLASS_CD='50';
  	</select>
	<!-- 패키지가전 상품리스트 갯수 -->
	<select id="pacGoodsListCnt" resultType="int">
  		SELECT COUNT(GDS_CD) AS CNT FROM TB_GDS100 where GDS_MCLASS_CD='60';
  	</select>
  	
  	<insert id="rentalGoodsAdd100" parameterType="com.me.rentalme.model.entity.RentalAppliVo">
  		INSERT INTO TB_GDS100(GDS_CD,GDS_LCLASS_CD,GDS_MCLASS_CD,GDS_SCLASS_CD,GDS_NM,BRAND_NM,MODEL_NM,GDS_GB_CD) 
  		VALUES(#{gdsCd},#{gdsLclassCd},#{gdsMclassCd},#{gdsSclassCd},#{gdsNm},#{brandNm},#{modelNm},#{gdsGbCd})
  	</insert>
  	<insert id="rentalGoodsAdd200" parameterType="com.me.rentalme.model.entity.ProductVo">
  		insert into tb_gds200(GDS_CD,GDS_PRICE,AGREE_TERM,DELIVER_COST,INSTAL_COST,AS_CONDITION,IMG1,IMG2,IMG3,IMG4,IMG5,IMG6,IMG7,IMG8,IMG9,IMG10,IMG11,IMG12) 
  		values(#{prdCode},#{prdPrice},#{prdContDate},#{prdDeliveryCost},#{prdInstCost},#{prdAsContent},#{img1},#{img2},#{img3},#{img4},#{img5},#{img6},#{img7},#{img8},#{img9},#{img10},#{img11},#{img12})
  	</insert>
	
</mapper>