<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mpMng">
	<!-- 주문 -->
	<select id="selectOrd" resultType="com.me.rentalme.model.entity.MngOrdVo">
		SELECT 
			A.*
			,FN_NM('USER_NM', A.MB_NO) AS USER_NM
		FROM TB_ODR100 A
		WHERE ODR_STS_GB_CD NOT IN('RW', 'RC')
		AND ODR_GB_CD IN('10')
		ORDER BY A.ODR_NO DESC
	</select>
	<select id="selectOrdOne" resultType="com.me.rentalme.model.entity.MngOrdDetailVo">
		SELECT FN_NM('GDS_NM', GDS_CD) as GDS_NM,GDS_PRICE,ODR_QTY,ODR_AMT
		from tb_odr110
		where ODR_NO=#{odrNo}
	</select>
	<select id="selectOrdOneInfo" resultType="com.me.rentalme.model.entity.UserVo">
		SELECT B.USER_NM,B.ADDR,B.ADDR_DETAIL,B.HP
		FROM tb_odr100 AS A,tb_user100 AS B
		WHERE A.MB_NO=B.MB_NO AND A.ODR_NO=#{odrNo}
	</select>
	<update id="updateStsPC">
		UPDATE tb_odr100
		SET ODR_STS_GB_CD='OC'
		WHERE ODR_NO=#{odrNo}
	</update>
	
	<!-- 예치금 -->
	<select id="selectDep" resultType="com.me.rentalme.model.entity.CallVo">
		SELECT A.USER_NM,B.MB_NO,B.REMN_DEPOSIT,B.CHG_DT
		FROM tb_user100 as A,tb_mb100 as B
		WHERE A.MB_NO=B.MB_NO
		ORDER BY B.CHG_DT DESC
	</select>
	<select id="selectDepOne" resultType="com.me.rentalme.model.entity.CallVo">
		SELECT B.DEPOSIT_SEQ
		     , B.CHARGE_DEPOSIT
		     , B.USE_DEPOSIT
		     , B.REFUND_DEPOSIT
		     , B.CHG_DT
		     , (SELECT A.USER_NM FROM TB_USER100 A WHERE A.MB_NO=B.MB_NO) AS USER_NM
		     , (SELECT A.USER_ID FROM TB_USER100 A WHERE A.MB_NO=B.MB_NO) AS USER_ID
		FROM TB_MB110 B
		WHERE B.MB_NO=#{mbNo}
		ORDER by B.CHG_DT DESC
	</select>
	
	<!-- 중고 -->
	<select id="selectUsed" resultType="com.me.rentalme.model.entity.UsedVo">
		SELECT A.*,B.USER_NM
		FROM tb_used100 AS A, tb_user100 AS B
		WHERE A.MB_NO=B.MB_NO
		ORDER BY A.CHG_DT DESC
	</select>
	<select id="selectUsedSearch" resultType="com.me.rentalme.model.entity.UsedVo">
		SELECT A.*,B.USER_NM
		FROM tb_used100 AS A, tb_user100 AS B
		WHERE A.MB_NO=B.MB_NO AND USED_GDS_NO=#{usedGdsNo}
		ORDER BY A.CHG_DT DESC
	</select>
	<select id="selectusedListCnt" resultType="Integer">
		SELECT COUNT(*) as totalListCnt
		  FROM TB_USED100
		<if test="usedGdsNo != ''">
		WHERE USED_GDS_NO=#{usedGdsNo}
		</if>
	</select>
	
	<!-- 환불 -->
	<select id="selectReturn" resultType="com.me.rentalme.model.entity.MngOrdVo">
		SELECT 
			A.*
			,FN_NM('USER_NM', A.MB_NO) AS USER_NM
		FROM TB_ODR100 A
		WHERE ODR_STS_GB_CD IN('RW', 'RC')
		AND ODR_GB_CD IN('10')
		ORDER BY A.ODR_NO DESC
	</select>
	<update id="updateStsRtn">
		UPDATE tb_odr100
		SET ODR_STS_GB_CD='RC'
		WHERE ODR_NO=#{odrNo}
	</update>
	
	<!-- 신고 -->
	<select id="selectDecl" resultType="com.me.rentalme.model.entity.DeclVo">
		SELECT *
		FROM TB_DECL100
		ORDER BY CHG_DT DESC
	</select>
	<update id="changeDeclSts" parameterType="String">
		UPDATE tb_decl100
		SET DECL_RES_STS_CD='1', CHG_ID='admin'
		WHERE DECL_NO IN (#{declNo})
	</update>
	<select id="selectDeclListCnt" resultType="Integer">
		SELECT COUNT(*)
		FROM tb_decl100
	</select>

	<!-- 사용자관리 -->
	<select id="selectUserList" resultType="com.me.rentalme.model.entity.UserVo">
		SELECT MB_NO
		     , USER_ID
		     , USER_NM
		     , DATE_FORMAT(BIRTHDAY, '%Y-%m-%d') AS BIRTHDAY
		     , GENDER_GB_CD
		     , LEVEL_GB_CD
		     , HP
		     , HP_YN
		     , EMAIL
		     , EMAIL_YN
		     , ADDR
		     , ADDR_DETAIL
		     , ZIP_CODE
		     , USER_STS_CD
		     , DATE_FORMAT(JOIN_DT, '%Y-%m-%d') AS JOIN_DT
		     , DATE_FORMAT(CHG_DT, '%Y-%m-%d') AS CHG_DT
		  FROM TB_USER100
		 WHERE USER_STS_CD IN ('1', '2')
		 ORDER
		    BY MB_NO ASC
	</select>
	<select id="selectUserDetail" parameterType="String" resultType="com.me.rentalme.model.entity.UserVo">
		SELECT MB_NO
		     , USER_ID
		     , USER_NM
		     , DATE_FORMAT(BIRTHDAY, '%Y-%m-%d') AS BIRTHDAY
		     , GENDER_GB_CD
		     , LEVEL_GB_CD
		     , HP
		     , HP_YN
		     , EMAIL
		     , EMAIL_YN
		     , ADDR
		     , ADDR_DETAIL
		     , ZIP_CODE
		     , USER_STS_CD
		  FROM TB_USER100
		 WHERE MB_NO = #{mbNo}
	</select>
	<update id="updUserInfo" parameterType="String">
		UPDATE TB_USER100
		   SET USER_NM 		= ''
		     , BIRTHDAY 	= ''
		     , GENDER_GB_CD	= ''
		     , HP			= ''
		     , HP_YN		= ''
		     , EMAIL		= ''
		     , EMAIL_YN		= ''
		     , ADDR			= ''
		     , ADDR_DETAIL	= ''
		     , ZIP_CODE		= ''
		     , PW			= ''
		     , PW_FAIL_CNT	= 0
		     , PW_ADJ_DT	= ''
		     , EMAIL_KEY	= ''
		     , HP_KEY		= ''
		     , LEVEL_GB_CD	= ''
		     , JOIN_DT		= ''
		     , USER_STS_CD	= '3'
		     , SESSION_KEY	= ''
		     , SESSION_DT	= '0000-00-00 00:00:00'
		     , CHG_ID		= 'system'
		     , CHG_DT		= DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s')
		     , REG_ID		= 'system'
		     , REG_DT		= '0000-00-00 00:00:00'
		 WHERE MB_NO = #{mbNo}
	</update>
	<update id="updUserInfoInit" parameterType="String">
		UPDATE TB_USER100
		   SET PW_FAIL_CNT	= 0
		     , USER_STS_CD	= '1'
		     , CHG_ID		= 'system'
		     , CHG_DT		= DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s')
		 WHERE MB_NO = #{mbNo}
	</update>
	<!--민수 -->
	<!--렌탈상품리스트 -->
	<select id="selectRentalAllList" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT * 
		  FROM TB_GDS100
		 WHERE GDS_LCLASS_CD = '10'
		 ORDER 
		    BY REG_DT DESC
	</select>
	<select id="selectRentalList" parameterType="String" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT * 
		  FROM TB_GDS100
		 WHERE GDS_LCLASS_CD = '10'
		   AND GDS_MCLASS_CD = #{gdsMclassCd}
		 ORDER 
		    BY REG_DT DESC
	</select>
	<!--대형 상품리스트 -->
	<select id="selectLgoodsList" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT * FROM TB_GDS100 WHERE GDS_MCLASS_CD='10' ORDER BY REG_DT 
		LIMIT #{startListNum},#{listSize}
	</select>
	<!--소형 상품리스트 -->
	<select id="sGoodsList" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT * FROM TB_GDS100 WHERE GDS_MCLASS_CD='20' ORDER BY REG_DT 
		LIMIT #{startListNum},#{listSize}
	</select>
	<!--주방 상품리스트 -->
	<select id="kGoodsList" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT * FROM TB_GDS100 WHERE GDS_MCLASS_CD='30' ORDER BY REG_DT 
		LIMIT #{startListNum},#{listSize}
	</select>
	<!--가구 상품리스트 -->
	<select id="fGoodsList" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT * FROM TB_GDS100 WHERE GDS_MCLASS_CD='40' ORDER BY REG_DT 
		LIMIT #{startListNum},#{listSize}
	</select>
	<!--기타 상품리스트 -->
	<select id="otherGoodsList" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT * FROM TB_GDS100 WHERE GDS_MCLASS_CD='50' ORDER BY REG_DT 
		LIMIT #{startListNum},#{listSize}
	</select>
	<!--패키지 상품리스트 -->
	<select id="pacGoodsList" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT * FROM TB_GDS100 WHERE GDS_MCLASS_CD='60' ORDER BY REG_DT 
		LIMIT #{startListNum},#{listSize}
	</select>
	
	<!--전체 상품리스트 갯수  -->
	<select id="goodsListCnt" resultType="int">
  		SELECT COUNT(GDS_CD) AS CNT FROM TB_GDS100;
  	</select>
	<!-- 대형가전 상품리스트 갯수 -->
	<select id="lGoodsListCnt" resultType="int">
  		SELECT COUNT(GDS_CD) AS CNT FROM TB_GDS100 where GDS_MCLASS_CD='10';
  	</select>
	<!-- 소형가전 상품리스트 갯수 -->
	<select id="sGoodsListCnt" resultType="int">
  		SELECT COUNT(GDS_CD) AS CNT FROM TB_GDS100 where GDS_MCLASS_CD='20';
  	</select>
	<!-- 주방가전 상품리스트 갯수 -->
	<select id="kGoodsListCnt" resultType="int">
  		SELECT COUNT(GDS_CD) AS CNT FROM TB_GDS100 where GDS_MCLASS_CD='30';
  	</select>
	<!-- 가구가전 상품리스트 갯수 -->
	<select id="fGoodsListCnt" resultType="int">
  		SELECT COUNT(GDS_CD) AS CNT FROM TB_GDS100 where GDS_MCLASS_CD='40';
  	</select>
	<!-- 기타가전 상품리스트 갯수 -->
	<select id="otherGoodsListCnt" resultType="int">
  		SELECT COUNT(GDS_CD) AS CNT FROM TB_GDS100 where GDS_MCLASS_CD='50';
  	</select>
	<!-- 패키지가전 상품리스트 갯수 -->
	<select id="pacGoodsListCnt" resultType="int">
  		SELECT COUNT(GDS_CD) AS CNT FROM TB_GDS100 where GDS_MCLASS_CD='60';
  	</select>
  	
  	<!--렌탈 상품등록  -->
  	<insert id="rentalGoodsAdd100" parameterType="com.me.rentalme.model.entity.RentalAppliVo">
  		INSERT INTO TB_GDS100(GDS_CD,GDS_LCLASS_CD,GDS_MCLASS_CD,GDS_SCLASS_CD,GDS_NM,BRAND_NM,MODEL_NM,GDS_GB_CD) 
  		VALUES(
		  (SELECT CONCAT('10','${gdsMclassCd}','${gdsSclassCd}',(MAX(LPAD(SEQ,6,0)))) FROM SEQ_GDS100 a),'10',#{gdsMclassCd},#{gdsSclassCd},#{gdsNm},#{brandNm},#{modelNm},#{gdsGbCd})
  	</insert>
  	<insert id="rentalGoodsAdd200" parameterType="com.me.rentalme.model.entity.ProductVo">
  		INSERT INTO TB_GDS200(GDS_CD,GDS_PRICE,AGREE_TERM,DELIVER_COST,INSTAL_COST,AS_CONDITION,IMG1,IMG2,IMG3,IMG4,IMG5,IMG6,IMG7,IMG8,IMG9,IMG10,IMG11,IMG12) 
  		VALUES(
  		(SELECT CONCAT(#{prdCode},(MAX(LPAD(SEQ,6,0)))) FROM SEQ_GDS100 a),#{prdPrice},#{prdContDate},#{prdDeliveryCost},#{prdInstCost},#{prdAsContent},#{img1},#{img2},#{img3},#{img4},#{img5},#{img6},#{img7},#{img8},#{img9},#{img10},#{img11},#{img12})
  	</insert>
  	
  	<!-- 렌탈상품등록 리스트 -->
  	<select id="searchScGoods">
  		SELECT * FROM TB_GDS100 WHERE GDS_SCLASS_CD=#{goodsNum}
  	</select>
  	<select id="selectNum" resultType="long">
  		SELECT CONCAT('10',${mGoodsNum},${sGoodsNum},(MAX(LPAD(SEQ,6,0)))) FROM SEQ_GDS100;
  	</select>
  	
	<!-- 시퀀스 증가 -->
	<insert id="insertSeq">
		INSERT INTO SEQ_GDS100 VALUES(NULL);
	</insert>

	
	<!-- 관리자 - 회원 환불 리스트 -->
	<select id="selectRefundList" resultType="com.me.rentalme.model.entity.RefundVo">
		SELECT MB_NO,DEPOSIT_REFUND_SEQ,DEPOSIT_REFUND_DT,REFUND_DEPOSIT,DEPOSIT_REFUND_GB_CD,FN_NM('USER_NM', MB_NO) AS userNm
		FROM TB_MB120 
		WHERE DEPOSIT_REFUND_GB_CD='1'
	</select>
	<!-- 관리자 - 회원 환불 확인 -->
	<update id="updateRefundConfirm">
		UPDATE TB_MB120
		SET DEPOSIT_REFUND_GB_CD='2'
		WHERE DEPOSIT_REFUND_GB_CD='1' AND MB_NO=#{mbNo}
	</update>
	<!-- 관리자 - 회원 환불 반려 -->
	<update id="updateRefundCancel">
		UPDATE TB_MB120
		SET DEPOSIT_REFUND_GB_CD='3'
		WHERE DEPOSIT_REFUND_GB_CD='1' AND MB_NO=#{mbNo}
	</update>
	<update id="deleteAppli" parameterType="com.me.rentalme.model.entity.RentalAppliVo">
		UPDATE TB_GDS100 SET DEL_YN='Y' WHERE GDS_CD=#{GDSCD}
	</update>
	
	<!-- 관리자 - 회원 상담관리 리스트 -->
	<select id="selectQuestList" resultType="com.me.rentalme.model.entity.QuestVo">
		SELECT QUEST_NO,QUEST_DT,GDS_CD,QUEST_NM,HP,EMAIL,QUEST_STS_CD
		FROM TB_QUEST100
		ORDER BY QUEST_NO DESC
	</select>
	<!-- 관리자 - 회원 상담 완료 -->
	<update id="updateQuest">
		UPDATE TB_QUEST100
		SET QUEST_STS_CD='2'
		WHERE QUEST_NO=#{questNo}
	</update>
	
	<!-- 신고처리완료 -->
	<update id="updateDeclOne">
		UPDATE TB_DECL100
		SET DECL_RES_STS_CD = '1'
		WHERE DECL_NO=#{declNo}
	</update>
</mapper>