<?xml version="1.0" 

encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="mpUser">
  	<select id="selectOrd" resultType="com.me.rentalme.model.entity.CallVo">
  		SELECT            
		   AA.*
		   ,COALESCE(BB.CNT,0) AS CNT
		FROM
		(            
		      SELECT /* 주문내역 */
		          A.ODR_NO
		         ,B.ODR_SEQ
		         ,DATE_FORMAT(B.ODR_DT, '%Y-%m-%d') AS ODR_DT
		         ,FN_NM('GDS_NM', B.GDS_CD) AS GDS_NM
		         ,B.GDS_CD 
		         ,B.ODR_QTY
		         ,B.AGREE_TERM 
		         ,B.GDS_PRICE
		         ,A.ODR_STS_GB_CD 
		         ,A.MB_NO 
		         ,FN_NM('USER_NM', #{mbNo}) AS USER_NM
		         ,C.IMG1 As RImg1	
		      FROM TB_ODR100 A
		         , TB_ODR110 B
		         , tb_gds200 C
		      WHERE A.ODR_NO = B.ODR_NO
		      AND A.MB_NO = #{mbNo}
		      AND B.GDS_CD = C.GDS_CD
		) AA LEFT OUTER JOIN (
		      SELECT /* 상품후기  */
		         A.GDS_CD
		         ,A.GDS_REVIEW_NO
		         ,A.ODR_NO
		         ,A.ODR_SEQ
		         ,COUNT(A.GDS_REVIEW_NO) AS CNT
		      FROM TB_GDS210 A
		      WHERE A.MB_NO = #{mbNo}
		      GROUP BY A.GDS_REVIEW_NO
		
		) BB
		ON AA.ODR_NO = BB.ODR_NO
		AND AA.ODR_SEQ = BB.ODR_SEQ
		AND AA.GDS_CD = BB.GDS_CD
	</select>
	
  	<insert id="insertReview">
  		INSERT  INTO TB_GDS210 (GDS_CD, GDS_REVIEW_NO, GDS_REVIEW_DT, ODR_NO, ODR_SEQ, ODR_DT, MB_NO, CONTENT, GRADE)
		VALUES  (
				#{gdsCd},
				(SELECT LPAD((SELECT COUNT(gds_review_no)+1 FROM TB_GDS210 A),8,'0')),
				(SELECT DATE_FORMAT(NOW(),'%Y%m%d')), 
				#{odrNo}, 
				(SELECT ODR_SEQ FROM TB_ODR110 WHERE ODR_NO=#{odrNo}), 
				(SELECT DATE_FORMAT((SELECT ODR_DT FROM TB_ODR110 WHERE ODR_NO=#{odrNo}),'%Y%m%d')),
				#{mbNo},
				#{content},
				#{grade}
				)
  	</insert>
  
  	
  	<select id="selectCart" resultType="com.me.rentalme.model.entity.CallVo">
  		SELECT  FN_NM('GDS_NM',A.GDS_CD) AS gdsNm, 
				A.ODR_QTY AS odrQty, 
				A.AGREE_TERM AS agreeTerm, 
				A.GDS_PRICE AS gdsPrice,
				B.IMG1 AS RImg1,
				A.GDS_CD,
				A.CART_SEQ
		FROM 	TB_CART100 A
		INNER JOIN TB_GDS200 B
		ON 		B.GDS_CD = A.GDS_CD
		WHERE	MB_NO = #{mbNo}
		ORDER BY A.GDS_CD, A.CART_SEQ, A.REG_DT ASC
  	</select>
  	
  	<delete id="deleteCart">
  		DELETE 
  		FROM 	TB_CART100
		WHERE 	MB_NO = #{mbNo}
		AND		GDS_CD=#{gdsCd}
		AND		CART_SEQ=#{cartSeq}
  	</delete>
  
  	<select id="selectWish" resultType="com.me.rentalme.model.entity.CallVo">
  		SELECT  DATE_FORMAT(TB_CALL100.CHG_DT, '%Y-%m-%d') AS chgDt, 
  				TB_USED100.MODEL_NM AS modelNm, 
  				TB_USED100.USED_GDS_PRICE as usedGdsPrice,
  				TB_CALL100.USED_GDS_NO,
  				TB_USED100.IMG1 AS UImg1
		FROM 	TB_CALL100 
		INNER JOIN TB_USED100 
		ON TB_CALL100.USED_GDS_NO = TB_USED100.USED_GDS_NO 
		WHERE CALL_STS_CD=1 AND TB_CALL100.MB_NO=#{mbNo};
  	</select>
  	
  	<update id="deleteWish">
  		UPDATE 	TB_CALL100 
  		SET		CALL_STS_CD='2' 
  		WHERE	USED_GDS_NO=#{usedGdsNo}
  		AND 	MB_NO = #{mbNo}	
  	</update>
  	
  	<select id="selectDeposit" resultType="com.me.rentalme.model.entity.CallVo">
		SELECT  DEPOSIT_GB_CD, 
				CHARGE_DEPOSIT,
				USE_DEPOSIT,
				REFUND_DEPOSIT,
				DEPOSIT_SEQ,
				DATE_FORMAT(DEPOSIT_DT, '%Y-%m-%d') AS DEPOSIT_DT,
				(SELECT REMN_DEPOSIT FROM TB_MB100 WHERE MB_NO=#{mbNo}) AS REMN_DEPOSIT, 
				(SELECT USER_ID FROM TB_USER100 WHERE MB_NO=#{mbNo}) AS USER_ID 
		FROM 	TB_MB110
		WHERE	MB_NO=#{mbNo}
		ORDER	BY DEPOSIT_SEQ DESC;
  	</select>
  	
  	<insert id="inserDeposit">
  			INSERT INTO TB_MB110 (MB_NO, DEPOSIT_SEQ, DEPOSIT_DT, CHARGE_DEPOSIT, DEPOSIT_GB_CD) 
			VALUES (#{mbNo},
			(SELECT LPAD((SELECT COUNT(MB_NO)+1 FROM TB_MB110 A WHERE MB_NO=#{mbNo}),6,'0')),
			(SELECT DATE_FORMAT(NOW(),'%Y-%m-%d')),
			#{chargeDeposit},
			"1")
  	</insert>
  	<insert id="refundDeposit">
  		INSERT INTO TB_MB120 (MB_NO, DEPOSIT_REFUND_SEQ, DEPOSIT_REFUND_DT, REFUND_DEPOSIT,DEPOSIT_REFUND_GB_CD)
		VALUES	(#{mbNo}, 
				(SELECT LPAD((SELECT COUNT(DEPOSIT_REFUND_SEQ)+1 FROM TB_MB120 A WHERE A.MB_NO=#{mbNo}),6,'0')),
				DATE_FORMAT(NOW(), '%Y%m%d'),
				#{refund},
				'1')
  	
  	</insert>

	<update id="updateDeposit">
		INSERT INTO TB_MB100 ( MB_NO, REMN_DEPOSIT, LAST_DEPOSIT_DT, MB_STS_CD )
		VALUES (#{mbNo}, #{chargeDeposit}, DATE_FORMAT(NOW(),'%Y%m%d'),1 )
		ON DUPLICATE KEY UPDATE 
		LAST_DEPOSIT_DT = (DATE_FORMAT(NOW(),'%Y%m%d')),
		REMN_DEPOSIT = (SELECT SUM(CHARGE_DEPOSIT-REFUND_DEPOSIT-USE_DEPOSIT)
		FROM TB_MB110 WHERE TB_MB110.MB_NO = #{mbNo})
	</update>
	
	<select id="selectInfoUser" resultType="com.me.rentalme.model.entity.CallVo">
		SELECT  REMN_DEPOSIT 
		FROM 	TB_MB100 
		WHERE 	MB_NO=#{mbNo}
	</select>

  	
  	<select id="selectMyInfo" parameterType="String" resultType="com.me.rentalme.model.entity.UserVo" >
  		SELECT USER_NM,EMAIL,ADDR,ADDR_DETAIL FROM TB_USER100 WHERE MB_NO=#{mbNo};

  	</select>
  	
  	<update id="updateMyinfo">
  		UPDATE TB_USER100 SET USER_NM=#{userNm}, ADDR=#{addr}, ADDR_DETAIL=#{addrDetail} WHERE MB_NO=#{mbNo};
  	</update>
  	
  	<select id="checkName" parameterType="String" resultType="com.me.rentalme.model.entity.UserVo">
  		SELECT USER_NM FROM TB_USER100 WHERE mb_no=#{mbNo};
  	</select>
  	
  	<select id="selectAuct" resultType="com.me.rentalme.model.entity.CallVo">
  		SELECT FN_NM('GDS_NM',GDS_CD) AS gdsNm, 
		BID_TIME,BID_PRICE
		FROM TB_ACT100 WHERE MB_NO=#{mbNo};
  	</select>
  	
  	<select id="selectPw" resultType="com.me.rentalme.model.entity.UserVo">
  		SELECT PW 
  		FROM TB_USER100 
  		WHERE USER_ID=#{userId}
  	</select>
  	
  	<update id="updPw" parameterType="com.me.rentalme.model.entity.UserVo">
  		UPDATE 	TB_USER100
		SET 	PW = #{userPw}, 
				PW_ADJ_DT = DATE_FORMAT(NOW(), '%Y%m%d'),
				CHG_DT = DATE_FORMAT(NOW(), '%Y-%m-%d'), 
				CHG_ID='system'
		WHERE 	USER_ID=#{userId}
  	</update>
  
  </mapper>