<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="rentalAppli">
	<select id="selectOptionListRetrive" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT /* 브랜드명 조회 */
			DISTINCT BRAND_NM AS branNm
		FROM TB_GDS100
		WHERE GDS_LCLASS_CD = '10'
		AND GDS_MCLASS_CD   = '10'
		AND GDS_SCLASS_CD   = #{gdsSclassCd} 
	</select>
</mapper>
