<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rentalAppli">
	
	<!-- 렌탈 Path 조회 -->
	<select id="pathRetrive" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT /* Path 조회 */
			DISTINCT #{gdsSclassCd} AS	GUBUN_CD	-- 전체메뉴 구분코드
			,(
				SELECT	/* 대분류명 조회 */
					CONCAT(CD_NM,'렌탈')
				FROM TB_COM100
				WHERE GRP_CD_ID = 'GDS_MCLASS_CD'
				<if test="gdsSclassCd != null">
					<if test="gdsSclassCd gte 10 and gdsSclassCd lte 19">
						AND CD_ID = '10'
					</if>
					<if test="gdsSclassCd gte 20 and gdsSclassCd lte 29">
						AND CD_ID = '20'
					</if>
					<if test="gdsSclassCd gte 30 and gdsSclassCd lte 39">
						AND CD_ID = '30'
					</if>
					<if test="gdsSclassCd gte 40 and gdsSclassCd lte 49">
						AND CD_ID = '40'
					</if>
					<if test="gdsSclassCd gte 50 and gdsSclassCd lte 59">
						AND CD_ID = '50'
					</if>
					<if test="gdsSclassCd gte 60 and gdsSclassCd lte 69">
						AND CD_ID = '60'
					</if>
				</if>
			) AS GDS_MCLASS_NM						-- 상품중분류명
			,(
				SELECT /* 소분류명 조회 */
					CD_NM
				FROM TB_COM100
				WHERE GRP_CD_ID = 'GDS_SCLASS_CD'
				<if test="gdsSclassCd != null">
					AND CD_ID = #{gdsSclassCd}
				</if>
			) AS GDS_SCLASS_NM						-- 상품소분류명
		FROM TB_COM100
	</select>
	
	<!-- 렌탈 메뉴 리스트 조회 -->
	<select id="menuListRetrive" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT /* 메뉴 리스트 조회 */
			 CD_ID	AS GDS_SCLASS_CD		-- 상품소분류코드
		    ,CD_NM	AS GDS_SCLASS_NM		-- 상품소분류명
		FROM TB_COM100
		WHERE GRP_CD_ID = 'GDS_SCLASS_CD'
		<if test="gdsSclassCd != null">
			<if test="gdsSclassCd gte 10 and gdsSclassCd lte 19">
				AND CD_ID BETWEEN '11' AND '19'
			</if>
			<if test="gdsSclassCd gte 20 and gdsSclassCd lte 29">
				AND CD_ID BETWEEN '21' AND '29'
			</if>
			<if test="gdsSclassCd gte 30 and gdsSclassCd lte 39">
				AND CD_ID BETWEEN '31' AND '39'
			</if>
			<if test="gdsSclassCd gte 40 and gdsSclassCd lte 49">
				AND CD_ID BETWEEN '41' AND '49'
			</if>
			<if test="gdsSclassCd gte 50 and gdsSclassCd lte 59">
				AND CD_ID BETWEEN '51' AND '59'
			</if>
			<if test="gdsSclassCd gte 60 and gdsSclassCd lte 69">
				AND CD_ID BETWEEN '61' AND '69'
			</if>
		</if>
	</select>
	
	<!-- 렌탈 옵션 브랜드명 조회 -->
	<select id="optionBrandListRetrive" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT /* 브랜드명 조회 */
			DISTINCT BRAND_NM				-- 브랜드명
		FROM TB_GDS100
		WHERE 1=1
		<if test="gdsSclassCd != null">
			<choose>
				<when test='gdsSclassCd.equals("10") or gdsSclassCd.equals("20") or gdsSclassCd.equals("30") or gdsSclassCd.equals("40")
												   or gdsSclassCd.equals("50") or gdsSclassCd.equals("60")'>
					AND GDS_MCLASS_CD = #{gdsSclassCd}
				</when> 
				<otherwise>
					AND GDS_SCLASS_CD = #{gdsSclassCd}
				</otherwise>
			</choose>
		</if> 
	</select>
	
	<!-- 렌탈 옵션 가격 조회 -->
	<select id="optionPriceListRetrive" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT  /* 가격대 조회 */
			 TRUNCATE((AA.MIN * 1.3), 0)  AS PRICE_MIN		-- 최소가격 * 1.3배
			,TRUNCATE((AA.MAX * 0.7), 0) AS PRICE_MAX		-- 최대가격 * 0.7배
		FROM
		(
			SELECT
				 MIN(B.GDS_PRICE) AS MIN
				,MAX(B.GDS_PRICE) AS MAX
			 FROM TB_GDS100 A
			 	 ,TB_GDS200 B
			WHERE A.GDS_CD = B.GDS_CD
			<if test="gdsSclassCd != null">
			<choose>
				<when test='gdsSclassCd.equals("10") or gdsSclassCd.equals("20") or gdsSclassCd.equals("30") or gdsSclassCd.equals("40")
												   or gdsSclassCd.equals("50") or gdsSclassCd.equals("60")'>
					AND A.GDS_MCLASS_CD = #{gdsSclassCd}
				</when> 
				<otherwise>
					AND A.GDS_SCLASS_CD = #{gdsSclassCd}
				</otherwise>
			</choose>
		</if> 
		) AA
	</select>
	
	<!-- 렌탈 BEST 리스트 조회 -->
	<select id="bestListRetrive" resultType="com.me.rentalme.model.entity.RentalAppliVo">
		SELECT /* BEST 랭크 조회 */
			@ROWNUM := @ROWNUM+1 AS RNK		--	랭크
		   ,AA.*
		FROM
		(
			SELECT /* BEST 대상 조회 */
				 A.GDS_CD
			    ,A.GDS_LCLASS_CD
				,A.GDS_MCLASS_CD
				,A.GDS_SCLASS_CD
				,A.GDS_NM
				,A.BRAND_NM
				,A.MODEL_NM
				,B.GDS_PRICE
				,B.IMG1
				,A.REG_DT
				,COUNT(C.GDS_CD) AS CNT
				,SUM(C.GRADE) AS TOT_GRD_SUM
				,ROUND(SUM(C.GRADE) / COUNT(C.GDS_CD),2) AS TOT_GRD_AVG
			FROM TB_GDS100 A
				,TB_GDS200 B
				,TB_GDS210 C
			WHERE A.GDS_CD = B.GDS_CD
			AND B.GDS_CD = C.GDS_CD
			AND A.GDS_MCLASS_CD = #{gdsSclassCd}
			GROUP BY A.GDS_CD
			ORDER BY TOT_GRD_AVG DESC
					,CNT DESC
					,REG_DT DESC
		) AA
		 ,(SELECT @ROWNUM := 0) R
		 LIMIT 8
	</select>
	
	<!-- 렌탈 상품 리스트 조회 -->
	<select id="gdsListRetrive" resultType="com.me.rentalme.model.entity.RentalAppliVo">	
		SELECT /* 상품 조회 */
				 A.GDS_CD
			    ,A.GDS_LCLASS_CD
				,A.GDS_MCLASS_CD
				,A.GDS_SCLASS_CD
				,A.GDS_NM
				,A.BRAND_NM
				,A.MODEL_NM
				,B.IMG1
				,A.REG_DT
				,B.GDS_PRICE
				<if test="sortGbCd != null">
					<if test='sortGbCd.equals("1")'>
						,COUNT(C.GDS_CD) AS CNT
						,SUM(C.GRADE) AS TOT_GRD_SUM
						,ROUND(SUM(C.GRADE) / COUNT(C.GDS_CD),2) AS TOT_GRD_AVG
					</if>
					<if test='sortGbCd.equals("5")'>
						,COUNT(C.ODR_QTY) AS ODR_QTY
					</if>
					<if test='sortGbCd.equals("6")'>
						,COUNT(C.GDS_CD) AS CNT
					</if>
				</if>
			FROM TB_GDS100 A
				,TB_GDS200 B
				<if test="sortGbCd != null">
					<if test='sortGbCd.equals("1")'>
						,TB_GDS210 C
					</if>
					<if test='sortGbCd.equals("5")'>
						,TB_ODR110 C
					</if>
					<if test='sortGbCd.equals("6")'>
						,TB_GDS210 C
					</if>
				</if>
			WHERE A.GDS_CD = B.GDS_CD
			<choose>
				<when test='gdsSclassCd.equals("10") or gdsSclassCd.equals("20") or gdsSclassCd.equals("30") or gdsSclassCd.equals("40")
												   or gdsSclassCd.equals("50") or gdsSclassCd.equals("60")'>
					AND A.GDS_MCLASS_CD = #{gdsSclassCd}
				</when> 
				<otherwise>
					AND A.GDS_SCLASS_CD = #{gdsSclassCd}
				</otherwise>
			</choose>
			<if test="sortGbCd != null">
				<if test='sortGbCd.equals("1")'>
					AND B.GDS_CD = C.GDS_CD
					GROUP BY A.GDS_CD
					ORDER BY TOT_GRD_AVG DESC
							,CNT DESC
							,B.REG_DT DESC
				</if>
				<if test='sortGbCd.equals("2")'>
					ORDER BY B.REG_DT DESC
				</if>
				<if test='sortGbCd.equals("3")'>
					ORDER BY B.GDS_PRICE
							,B.REG_DT DESC
				</if>
				<if test='sortGbCd.equals("4")'>
					ORDER BY B.GDS_PRICE DESC
							,B.REG_DT DESC
				</if>
				<if test='sortGbCd.equals("5")'>
					AND B.GDS_CD = C.GDS_CD
					ORDER BY C.ODR_QTY
							,B.REG_DT DESC
				</if>
				<if test='sortGbCd.equals("6")'>
					AND B.GDS_CD = C.GDS_CD
					GROUP BY A.GDS_CD
					ORDER BY CNT DESC
							,B.REG_DT DESC
				</if>
			</if>
	</select>

</mapper>
