<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rentalme">
	<select id="selectAll" resultType="com.me.rentalme.model.entity.RentalMeVo">
		SELECT * 
		  FROM testqe 
		 ORDER 
		    BY NUM
	</select>
</mapper>
