<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="used">
	<select id="selectAll" resultType="com.me.rentalme.model.entity.UsedVo">
		 SELECT BRAND_NM,MODEL_NM,USED_GDS_PRICE 
		 FROM tb_used100
	</select>
	<insert id="insertOne" parameterType="com.me.rentalme.model.entity.UsedVo">
		 INSERT INTO tb_used100 (GDS_LCLASS_CD,GDS_MCLASS_CD,GDS_SCLASS_CD,BRAND_NM,MODEL_NM,SUB,USED_GDS_PRICE,CONTENT)
		 VALUES (#{GDS_LCLASS_CD},#{GDS_MCLASS_CD},#{GDS_SCLASS_CD},#{BRAND_NM},#{MODEL_NM},#{SUB},#{USED_GDS_PRICE},#{CONTENT})
	</insert>
</mapper>