@charset "UTF-8";
/*회원가입페이지*/
#joinus{width: 500px; text-align: center;margin: 100px auto; height:400px;}
#join_btn{background-color: black;color: white;font-weight: bold;}
#joinus>a:hover{background-color: darkblue;}
/*약관동의*/
#join_terms{width: 700px;text-align: center;margin: 100px auto; height: 1000px; padding-bottom: 150px;}
#join_terms h3{text-align: left;}
#join_terms .checkbox{text-align: left;}
.join_terms_content{border: 1px solid;height: 250px;margin-top: 20px;}
#join_terms #active_tab {background-color: lightgray;}
/*정보입력*/
#join_info{width: 700px;text-align: center;margin: 100px auto; height: 900px; padding-bottom: 150px;}
#option_select{text-align: left;}
#join_info h3{text-align: left;}
#join_info .checkbox{text-align: left;}
#join_info #active_tab {background-color: lightgray;}
#join_input{width: 50%;margin: 20px auto;}
#join_input input{margin-bottom: 10px;  font-size: 11px;}
#join_input #email{display: inline-block;width: 67%;}
#join_input #emailSend{display: inline-block;}
#join_input #addr{display: inline-block;width:75%}
#join_input #addrSearch{display: inline-block;}
#join_terms #option_select{text-align: left;}
#myInput{text-align: center;}
#birth{display: inline-block;width: 82%;}
#id{margin-right:20px;}
#pw-danger,#pw-danger2,#id-danger,#hp-danger,#email-danger,#idCheck-danger,#emailCode-danger{color:red;text-align:left;font-size:9pt;font-weight:bold;margin-left:10px;margin-bottom:10px;}
#pw-success,#id-success,#emailCode-success{color:blue;text-align:left;font-size:9pt;font-weight:bold;margin-left:10px;margin-bottom:10px;}
/*회원가입완료*/
#joinus>h3{text-align: center;}
#join_btn{background-color: dimgray;color: white;font-weight: bold;}
#join_btn>a:hover{background-color: darkblue;}