@charset "UTF-8";
/*회원가입페이지*/
#joinus{width: 500px; text-align: center;margin: 100px auto; height:400px;}
#join_btn{background-color: black;color: white;font-weight: bold;}
#joinus>a:hover{background-color: darkblue;}
/*약관동의*/
#join_terms{width: 700px;text-align: center;margin: 100px auto; height: 100%; padding-bottom: 150px;}
#join_terms h3{text-align: left;}
#join_terms .checkbox{text-align: left;}
.join_terms_content{border: 1px solid;height: 250px;margin-top: 20px;}
#join_terms #active_tab {background-color: lightgray;}
/*정보입력*/
#join_input{width: 50%;margin: 20px auto;}
#join_input input{margin-bottom: 10px;}
#join_input #email{display: inline-block;width: 66%;}
#join_terms #option_select{text-align: left;}
#myInput{text-align: center;}
#birth{display: inline-block;width: 82%;}
#pw-danger{color: red;}
#pw-success{color: blue;}
/*회원가입완료*/
#joinus>h3{text-align: center;}
#join_btn{background-color: dimgray;color: white;font-weight: bold;}
#join_btn>a:hover{background-color: darkblue;}