@charset "UTF-8";
/*Detail start*/
	#usedhead{
		height: 100px;
	}
	#usedDetail{
		font-family: "nanumB";
		width: 980px;
		margin: auto;
	}
	#hiddenMyId{
		visibility: hidden;
	}
	#carouselD{
		display: inline-block;
		width: 490px;
	}
	#showInfo{
		display: inline-block;
		vertical-align: top;
		min-width: 470px;
		margin-left: 10px;
	}
	#mainInfo{
		font-weight: bold;
		font-size: xx-large;
	}
	#doQuest{
		background-color: #ffff00;
		border: none;
		font-size: 1.5em;
		float: right;
		padding: 20px;
	}

	.cmtContent{
		border-top: 1px solid black;
		height: 100px;
	}
	.cmtContent div:nth-child(2){
		font-size: large;
		display: inline-block;
	}
	.cmtContent div:nth-child(3){
		float: right;
	}
	#bigInfo{
	}
	#detailInfo{
		display: inline-block;
		width: 49%;
		height: 500px;
	}
	#detailInfo>div{
		border: 1px solid black;
		margin: auto;
		width: 95%;
		height: 450px;
	}
	#sellInfo{
		display: inline-block;
		width: 49%;
	}
	#sellInfo>div{
		border: 1px solid black;
		margin: auto;
		width: 95%;
		cursor: pointer;
	}
	#hiddenNM{
		display: none;
	}
	#subImgF img:hover{
		animation-duration: 0.3s;
	  	animation-name: imgopac;
	  	animation-fill-mode: forwards;
		cursor: pointer;
	}
	@keyframes imgopac {
	  from {
	    opacity: 1;
	  }
	  to {
	    opacity: 0.3;
	  }
	}
	#storeReviewList .inpList{
		float: right;
	}
	
	#bigInfo>div{
		font-size: 3em;
		font-weight: bold;
	}
	#storeReviewList button{
		margin-left: -25px;
		width: 75px;
		height: 75px;
	}
	
	#usedFoot{
		clear: both;
		height: 300px;
	}
	
/*Detail end*/

/*나의 상점 시작*/
	.usedStore{
		width: 80%;
		margin: 100px auto;
		margin-bottom: 300px;
		height: 2000px;
	}
	.usedStore #search{
		display: inline-block;
		margin-left: 10px;
	}
	.usedStore h2{
		text-align:center;
		background-color: lightgray;
		cursor: default;
	}
	.usedStore select{
		display: inline-block;
		float: right;
		width: 120px;
		height: 30px;
	}
	.tabs{
		margin-top: 20px;
		width: 100%;
		border-bottom: 5px solid black;
	}
	.tabs>li{
		display: inline-block;
		width: 20.5%;
		height: 30px;
		line-height: 30px;
		background-color: lightgray;
		text-align: center;
		cursor:pointer;
	}
	.tabs>li:first-child{
		margin-left: -40px;
	}
	.tabs>li:not(.active):hover{
		background-color: white;
	}
	.tabs> .active{
		background-color: black;
		color: white;
	}
	.pagination{
		display: block;
		text-align: center;
		margin-top: 50px;
	}
	.pagination>li>a{
		float: none;
	}
	#insertThing{
		float: right;
		color:white;
		background-color: black;
		width: 100px;
		height: 30px;
		line-height: 30px;
		font-size: 15px;
		text-align: center;
		text-decoration: none;
	}
	#myUsedList ul{
		padding: 0px;
		clear: both;
		
	}
	#myUsedList{
		margin-bottom: 50px;
		clear:both;
	}
	#myUsedList ul>li{
		display: inline-block;
		border-bottom: 1px solid #dedede;
		width: 16.66%;
		height: 100px;
		line-height: 100px;
		float: left;
		text-align: center;
	}
	#myUsedList ul:first-child>li{
		border-top: 1px solid #dedede;
		font-weight: bold;
		height: 30px;
		line-height: 30px;
	}
	#myUsedList ul{
		cursor: default;
	}
	.myUsedLt div{
		width: 100px;
		height: 100px;
	}
	
	#myUsedList .used_del{
		background-color: white;
		border: 0px;
		outline: 0px;
		height: 0px;
	} 
	#myUsedList .used_del>img{
		width: 50px;
		height: 50px;
	}
	#myUsedList ul>li:last-child{
		display: none;
		width: 0px;
		height: 0px;
	}
	#myUsedReview textarea{
		margin-left: 0px;
	}
	#myUsedReview button{
		float: right;
		clear: both;
	}
	.storeCmtList{
		border-top: 1px solid black;
	}
	
/*나의 상점 끝*/

/* usedMng start */
#usedMng{
/*                border: 1px solid red;*/
               width: 60%;
               height: 1500px;
               margin: 100px auto;
           }
           #usedMng_title{
               background-color: lightgray;
               text-align: center;
               margin: 50px;
           }
           #usedMng_title div{
               display: inline-block;
               margin: 10px;
           }
           #radiog{
           		display:inline-block;
           	border: 1px solid black;
           }
           #usedMng_frame{
/*                border: 1px solid blue;*/
               width: 80%;
               margin: auto;
           }
           #usedMng_content{
/*                border: 1px solid red;*/
               width: 80%;
               margin: auto;
           }
           #used_imgUpload{
               text-align: right;
           }
           #used_main_img{
               border: 1px solid black;
               margin: auto;
               width: 400px;
               height: 200px;
           }
           #used_sub_img_group{
               width: 400px;
               margin: auto;
           }
           .used_sub_img{
               display: inline-block;
               border: 1px solid black;
               width: 100px;
               height: 100px;
           }
           .used_sub_img>img{
               position: absolute;
           }
           #category{
           	margin-left: 1px;
           }
           #status{
           	margin-left: 1px;
           }
           #used_exp{
               display: inline-block;
           }
           .form-control{
               margin-left: -15px;
           }
           #explain{
               margin-left: 0px;
           }
           #submit_btn{
               float: right;
               clear: both;
               margin-bottom: 100px;
           }
           #imgfile_label{
               border: 1px solid black;
               width: 120px;
               height: 33px;
               text-align: center;
               line-height: 30px;
               background-color: gray;
               color: white;
           }
           #imgfile{
           }
/*  usedMng end */